<table>
  <tr>
    <th>Heard it yet?</th>
    <th>Time</th>
    <th>Name of Caller</th>
  </tr>
    <%- messages.each do |message| %>
  <tr>
    <td><%= pretty_boolean message.listened? %></td>
    <td><%=h message.created_at %></td>
    <td><%=h message.name %></td>
  </tr>
  <%- end %>
</table>
